/*
html, body {
    overflow-y: scroll;
    height:100%;
} */
html, body {
    background-color: rgb(233, 233, 233);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased !important;
  outline: none;
}

.landingpage{
  height: 100vh;
  font-family: 'OggR';
}

.landingpage{
  position: relative;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px;
  overflow: scroll;
}

.landingpage h1{
font-family: 'OggR';
font-size: 150px;
line-height: 120px;
/* position: absolute; */
top: 2%;
}

/* TEXT */
@font-face {
  font-family: 'OggI';
  src: url('fonts/Ogg-Italic.otf') format('opentype');
}
@font-face {
  font-family: 'OggR';
  src: url('fonts/Ogg-Roman.otf') format('opentype');
}
@font-face {
  font-family: 'SuisseR';
  src: url('fonts/SuisseWorks-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'SuisseI';
  src: url('fonts/SuisseWorks-RegularItalic.otf') format('opentype');
}

p {
  font-family: 'SuisseR';
  font-size: 16px;
  overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-chars: 9 3 3;
}
i{
  text-decoration: none;
  font-family: 'OggI';
}

a {
  font-family: 'SuisseR';
  font-weight: 400;
  color: rgb(254, 69, 213);
}

h1 {
  font-family: 'OggR';
  font-weight: 400;
  font-size: 23px;
  text-indent: 18px;
}

#title-bar > h1 {
  font-size: 14px;
  font-weight: 400;
  color: black;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  text-indent: 0px;
  z-index: 9999999999999999999;
}

sup {
  font-family: 'OggR', sans-serif;
  font-weight: 400;
  font-size: 11px;
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

.subheaders {
  font-family: 'OggR', serif;
  font-size: 17px;
  text-indent: 18px;
}

.image-footnotes {
  font-family: 'SuisseR', serif;
  font-size: 15px;
  padding-top: 6px;
  padding-left: 18px;
  padding-right: 18px;
  overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-chars: 9 3 3;
}

/* INDENT */
.indent {
  font-family: 'OggI';
  font-size: 16px;
  padding-top: 0px;
  padding-left: 18px;
  padding-right: 0px;
  overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-chars: 9 3 3;
}

/* PAGE HEADER*/
.page-header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 40px;
    background-color: rgb(254, 69, 213);
}

/* THESIS */
.video-container {
    position: relative;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
    overflow: scroll;
    z-index: 1;
}

.flex-container {
    position: relative;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
    overflow: scroll;
}

.abstract {
  padding-top: 60px;
}

/* IMAGES */
.images {
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 1;
}

.images img{
  width: 100%;
  display: block;
  padding-bottom: 10px;
}
.images2 img{
  width: 80%;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
  padding-bottom: 10px;
}
/* TITLE HEADER */
#title-bar {
    text-align: center;
    position: relative;
    padding-bottom: 1vh;
    padding-top: 1vh;
    float: right;
    width: 100%;
    height: 10%;
    z-index: 200;
}

/* NAVIGATION MENU*/
.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav {
	margin:0;
	padding: 0;
  float: left;
  position: absolute;
  z-index: 800;
  border: solid 0px;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: left;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}

/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
	background-color: white;
	}

/* Styling the links */
nav a {
	display:block;
	padding:14px 20px;
	color: black;
	font-size:14px;
	text-decoration:none;
}

nav ul li ul li:hover { background: #000000; }

/* Background color change on Hover */
nav a:hover {
	background-color: grey;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute;
	/* has to be the same number as the "line-height" of "nav a" */
	top: 60px;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
	width:50px;
	float:none;
	display:list-item;
	position: relative;
}

/* //////////////////MOBILE VERSION 1030 px////////////////// */

	nav {
		margin: 0;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		background-color: rgb(254, 69, 213);
		padding:4px 20px;
		color: black;
		font-size:20px;
		text-decoration:none;
		/* border: solid black 1px; */
    width: 20px;
    height: 30px;
    z-index: 800;
	}

	.toggle:hover {
		/* background-color: grey; */
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: grid;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: grey;
	}

	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;
		color:#FFF;
		font-size:17px;
	}


	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: grey;
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}

	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}

	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */

	}

  nav ul li {
	  display: block;
	}

  /* footnote popup */

  .footnote-ref a{
    color: rgb(254, 69, 213);
  }
  .bottom-panel {
    position: fixed;
    font-size: 0.9rem;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .popup-wrapper {
    display: none;
    max-width: 100%;
    margin: 0 auto;
    color: black;
    background-color: white;
    border-top: 1px solid black;
  }

  #popup-index {
    padding: 1.25rem 0 0 1.25rem;
  }

  #popup-close {
    padding: 1.25rem;
    margin-left: auto;
    cursor: pointer;
  }

  /* #popup-close:hover {
    background-color: #fdfdfd;
  } */

  #popup-content {
    min-width: 50%;
    text-align: left;
    padding: 1.25rem 0 1.25rem 0.9rem;
  }

  .bg-container {
  position: fixed;
  height: 100%;
  width: 100%;
  pointer-events: none;
  overflow: hidden;
  top: 0px;
}

.bg-left {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(233, 233, 233, 0) 70%, rgb(254, 69, 213) 95%);
  background: -webkit-linear-gradient(90deg, rgba(233, 233, 233, 0) 70%, rgb(254, 69, 213) 95%);
  float: left;
}


/* //////////////////MOBILE VERSION 800 px////////////////// */

@media screen and (max-width: 800px) {

  html, body { overflow-x: hidden }


  .video-container{
    position:relative;
    box-sizing: border-box;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0px;
    /* margin-top: 8%; */
  }

  .flex-container{
    position:relative;
    box-sizing: border-box;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    /* margin-top: 8%; */
  }

  .abstract {
    padding-top: 3px;
  }

  p {
    font-size: 15px;
  }

  h1 {
    font-size: 20px;
    text-indent: 13px;
  }

  #title-bar > h1 {
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-indent: 0px;
  }

  .image-footnotes {
    font-size: 12px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .image-footnotes-italic {
    font-size: 12px;
  }
}
