/*
html, body {
    overflow-y: scroll;
    height:100%;
} */
html, body {
    background-color: rgb(233, 233, 233);
    overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased !important;
  outline: none;
}

::-webkit-scrollbar {
    display: none;
}

/* LANDINPAGE */
.container {
    width: 100%;
    height: 54vh;
    overflow: hidden;
    background: rgb(233, 233, 233);
    position: fixed;
    top:0px;
    left:0px
}
.slider {
    top: 120em;
    position: relative;
    box-sizing: border-box;
    animation: slider 90s linear infinite;
    list-style-type: none;
    text-align: center;
}
@keyframes slider {
    0%   { top:   -100em }
    100% { top: 0em }
}
.slider {
  	margin: 0;
    padding: 0 1em;
    line-height: 25px;
}
.slider p {
  font-family:'SuisseR';
  font-size: 18px;
  color: rgb(183, 118, 218);
}

.container2 {
    width: 100%;
    height: 48vh;
    overflow: hidden;
    background: rgb(233, 233, 233);
    /* background: radial-gradient(#e66465, #9198e5); */
    position: fixed;
    bottom:0px;
    left:0px
}
.slider2 {
    top: -55em;
    bottom:-30em;
    position: relative;
    box-sizing: border-box;
    animation: slider 90s linear infinite;
    list-style-type: none;
    text-align: center;
    animation-direction: reverse;
}
.slider2 {
  	margin: 0;
    padding: 0 1em;
    line-height: 25px;
}
.slider2 p {
  font-family:'SuisseR';
  font-size: 18px;
  color: rgb(255, 101, 207);
}

/* TOC */
.toc{
  /* height: 100vh; */
  text-align: center;
  position:relative;
  max-height: 100vh;
}

.toc a{
  font-family:'OggR';
  /* line-height: 10px; */
  font-size:14px;
  color: black;
  position:relative;
  text-align: center;
  text-decoration:none;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
}

/* TEXT */
@font-face {
  font-family: 'OggI';
  src: url('fonts/Ogg-Italic.otf') format('opentype');
}
@font-face {
  font-family: 'OggR';
  src: url('fonts/Ogg-Roman.otf') format('opentype');
}
@font-face {
  font-family: 'SuisseR';
  src: url('fonts/SuisseWorks-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'SuisseI';
  src: url('fonts/SuisseWorks-RegularItalic.otf') format('opentype');
}
@font-face {
  font-family: 'BaskerR';
  src: url('fonts/BaskervilleMTStd-Regular.otf') format('opentype');
}

p {
  font-family: 'SuisseR';
  font-size: 16px;
  overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-chars: 9 3 3;
}
i{
  line-height: 5px;
  text-decoration: none;
  font-family: 'OggI';
}
.basker a{
  font-family: serif;
}

/* UNDERLINE LINKS */

.text-shadow {
  text-shadow:
    -1.5px -1.5px rgb(233, 233, 233),
    -1.5px 1.5px rgb(233, 233, 233),
    1.5px -1.5px rgb(233, 233, 233),
    1.5px 1.5px rgb(233, 233, 233);
}
.underline a {
  font-size: 16px;
  font-family: 'SuisseR';
  color: black;

  background-size: 1px 1em;
  box-shadow:
  inset 0 -0.180em rgb(233, 233, 233),
  inset 0 -0.23em rgb(254, 69, 213);
  display: inline;
}

/* .chapter-title h1 {
  text-decoration: none;
  font-family: 'OggR';
  font-weight: 400;
  font-size: 23px;
  padding-left: 18px;
} */

.chapter-title h1 {
  text-decoration: none;
  font-family: 'OggR';
  font-weight: 400;
  font-size: 23px;
  padding-left: 18px;
  padding-right: 18px;
  text-align: center;
  /* height: 100vh;
  top:50vh; */
}

sup {
  font-family: 'OggR', sans-serif;
  font-weight: 400;
  font-size: 11px;
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
/* .chapter-title{
  height: 100vh;
} */

.subheaders {
  font-family: 'OggR', serif;
  font-size: 17px;
  padding-left: 18px;
}

.image-footnotes {
  font-family: 'SuisseR', serif;
  font-size: 15px;
  padding-top: 6px;
  padding-left: 18px;
  padding-right: 18px;
  overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-chars: 9 3 3;
}

/* INDENT */
.indent {
  font-family: 'OggI';
  font-size: 16px;
  padding-top: 0px;
  padding-left: 18px;
  padding-right: 0px;
  overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-chars: 9 3 3;
}

/* PAGE HEADER*/
.page-header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 40px;
}
.page-middle {
    position: fixed;
    bottom: 47.5%;
    z-index: 100;
    width: 100%;
    height: 40px;
}
.page-footer {
    position: fixed;
    bottom: 0px;
    z-index: 100;
    width: 100%;
    height: 40px;
}

/* THESIS */
.video-container {
    position: relative;
    width: 50%;
    height: 60px;
    /* margin-left: 25%;
    margin-right: 25%; */
    padding-top: 20px;
    overflow: scroll;
    z-index: 1;
}

.flex-container {
    position: relative;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
    overflow: scroll;
}


.abstract {
  padding-top: 60px;
}

/* IMAGES */
.images {
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 1;
}

.images img{
  width: 100%;
  display: block;
  padding-bottom: 10px;
}
.images2 img{
  width: 80%;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
  padding-bottom: 10px;
}
/* TITLE HEADER */
#title-bar {
    font-size: 18px;
    position: fixed;
    font-family: 'OggR';
    color: rgb(147, 37, 207);
    text-align: center;
    padding-bottom: 1vh;
    padding-top: 1vh;
    float: right;
    width: 100%;
    height: 10%;
    z-index: 200;
}
#title-bar-grey {
    font-size: 18px;
    position: fixed;
    font-family: 'OggR';
    color: rgb(233, 233, 233);
    text-align: center;
    padding-bottom: 1vh;
    padding-top: 1vh;
    float: right;
    width: 100%;
    height: 10%;
    z-index: 200;
}

/* NAVIGATION MENU*/
.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav {
	margin:0;
	padding: 0;
  float: center;
  position: absolute;
  z-index: 400;
  border: solid 0px;
  /* height: auto; */
  /* max-height: 100vh; */
  /* overflow-x: hidden; */
  /* transition: 0.3s; */
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: center;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
  width: 100vw;
  height: 0;
  transition: all .5s ease;
	}
.menu{
  background: rgb(233, 233, 233);
  background: linear-gradient(90deg, rgba(233, 233, 233,0.9) 40%, rgb(255, 101, 207) 99%);
  background: -webkit-linear-gradient(90deg, rgba(233, 233, 233,0.9) 40%, rgb(255, 101, 207) 99%);
}
/* Positioning the navigation items inline */
nav ul li {
  text-align: center;
  position: relative;
	margin: 0px;
	display:left;
	/* background-color: rgb(233, 233, 233); */
	}

/* Styling the links */
nav a {
  font-family: 'OggR';
	color: black;
	font-size:14px;
	text-decoration:none;
  position: relative;
  text-align: center;
  transition: 0.3s;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute;
	/* has to be the same number as the "line-height" of "nav a" */
	top: 60px;
}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
    position: fixed;
		display: block;
		padding:4px 20px;
		color: rgb(233, 233, 233);
		font-size:20px;
		text-decoration:none;
    width: 20px;
    height: 30px;
    z-index: 9999999999999999999;
	}

  .toggle2 img{
    width: 20px;
    height: 20px;
    position: fixed;
    display: block;
    top: 10px;
  }

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: grid;
    height: 100vh;
    transform: translateY(0);
	}


  .toggle2,
  [id^=drop2] {
  	display: none;
  }

  .menu2{
    background: rgb(255, 101, 207, 0.7);
    /* background: linear-gradient(90deg, rgba(233, 233, 233,0.9) 40%, rgb(255, 101, 207) 99%);
    background: -webkit-linear-gradient(90deg, rgba(233, 233, 233,0.9) 40%, rgb(255, 101, 207) 99%); */
  }

  	/* Hide the navigation menu by default */
  	/* Also hide the  */
  	.toggle2 + a,
  	.menu2 {
  		display: none;
  	}

  	/* Stylinf the toggle lable */
  	.toggle2 {
      position: fixed;
      right: -33px;
  		display: block;
  		padding:4px 20px;
  		color: rgb(233, 233, 233);
  		font-size:20px;
  		text-decoration:none;
      width: 50px;
      height: 30px;
      z-index: 9999999999999999999;
  	}

  	/* Display Dropdown when clicked on Parent Lable */
  	[id^=drop2]:checked + ul {
  		display: grid;
  	}

  /* INTERMEZZO'S */

  .intermezzo1 {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 100px;
    border-radius: 50%;
    /* background-image: radial-gradient(rgb(255, 101, 207), rgba(202,134,255,0)); */
background-color:rgb(255, 101, 207);
    /* make sure it starts outside of the screen */
    top: 100px;
    z-index: 3;
}
.intermezzo1 p{
  margin-top: 35%;
  text-align: center;
  text-decoration: none;
  color: rgb(233, 233, 233);
}
.intermezzo2 {
    position: absolute;
    width: 400px;
    height: 300px;
    left: 500px;
    background-color: rgb(202, 134, 255);

    /* make sure it starts outside of the screen */
    top: 1000px;
    z-index: 1;

}
.intermezzo3 {
    position: absolute;
    width: 800px;
    height: 100px;
    left: 400px;
    background-color: rgb(202, 134, 255);

    /* make sure it starts outside of the screen */
    top: 1000px;
    /* the blue one is in the front */
    z-index: 2;
}
  /* footnote popup */

  .footnote-ref a{
    color: rgb(254, 69, 213);
  }
  .bottom-panel {
    position: fixed;
    font-size: 0.9rem;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .popup-wrapper {
    display: none;
    max-width: 100%;
    margin: 0 auto;
    color: black;
    background-color: white;
    border-top: 1px solid black;
    /* background: linear-gradient(90deg, rgb(254, 69, 213) 5%, white 70%);
    background: -webkit-linear-gradient(90deg, rgb(254, 69, 213) 5%, white 70%); */
  }

  #popup-index {
    padding: 1.25rem 0 0 1.25rem;
  }

  #popup-close {
    padding: 1.25rem;
    margin-left: auto;
    cursor: pointer;
  }

  #popup-content {
    min-width: 50%;
    text-align: left;
    padding: 1.25rem 0 1.25rem 0.9rem;
  }

.bg-container {
  position: fixed;
  height: 100%;
  width: 100%;
  pointer-events: none;
  overflow: hidden;
  top: 0px;
  z-index: 99;
}
.bg-container-bottom {
  position: fixed;
  height: 100%;
  width: 100%;
  pointer-events: none;
  overflow: hidden;
  bottom: 0px;
  z-index: 99;
}
.bg-middle-top {
  position: fixed;
  height: 100%;
  width: 100%;
  pointer-events: none;
  overflow: hidden;
  top: 49.5%;
  z-index: 99;
}
.bg-middle-bottom {
  position: fixed;
  height: 100%;
  width: 100%;
  pointer-events: none;
  overflow: hidden;
  bottom: 49.5%;
  z-index: 99;
}

.bg-left {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(233, 233, 233, 0) 70%, rgb(251, 155, 114) 95%);
  background: -webkit-linear-gradient(90deg, rgba(233, 233, 233, 0) 70%, rgb(251, 155, 114) 95%);
  float: left;
}

.bg-right {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgb(251, 155, 114) 5%, rgba(233, 233, 233, 0) 30%);
  background: -webkit-linear-gradient(90deg, rgb(251, 155, 114) 5%, rgba(233, 233, 233, 0) 30%);
  float: left;
}
.bg-middle-top {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(233, 233, 233, 0) 85%, rgb(251, 155, 114) 99%);
  background: -webkit-linear-gradient(90deg, rgba(233, 233, 233, 0) 85%, rgb(251, 155, 114) 99%);
  float: left;
}

.bg-middle-bottom {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgb(251, 155, 114) 1%, rgba(233, 233, 233, 0) 15%);
  background: -webkit-linear-gradient(90deg, rgb(251, 155, 114) 1%, rgba(233, 233, 233, 0) 15%);
  float: left;
}


/* //////////////////MOBILE VERSION 800 px////////////////// */

@media screen and (max-width: 800px) {

  html, body { overflow-x: hidden }


  .video-container{
    position:relative;
    box-sizing: border-box;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0px;
    /* margin-top: 8%; */
  }

  .flex-container{
    position:relative;
    box-sizing: border-box;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    /* margin-top: 8%; */
  }

  .abstract {
    padding-top: 3px;
  }

  p {
    font-size: 15px;
  }

  h1 {
    font-size: 20px;
    /* text-indent: 13px; */
    padding-left: 13px;
    line-height: 24px;
  }
  .chapter-title h1 {
    padding-left: 13px;
  }
  .subheaders {
    padding-left: 13px;
    line-height: 20px;
  }

  #title-bar > h1 {
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-indent: 0px;
  }

  .image-footnotes {
    font-size: 12px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .image-footnotes-italic {
    font-size: 12px;
  }

}


@media screen and (max-width: 380px) {

  html, body { overflow-x: hidden }

  @keyframes slider {
      0%   { top:   -140em }
      100% { top: 0em }
  }
.slider {
    line-height: 5.8em;
}
.slider p {
  font-size: 115px;
}
.slider2 {
    line-height: 4.5em;
}
.slider2 p {
  font-size: 85px;
}
}
